nav {
  background-color: #ff9900;
  padding: 20px 0 12px 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left h1{
  text-transform: uppercase;
}

.right ul {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 24px;
}

.right li {
  list-style: none;
  cursor: pointer;
}

.uname{
  display: flex;
  gap: 12px;
  /* outline: auto; */
  align-items: center;
}

.uname button{
  padding: 8px 20px;
  border: none;
  border-radius: 2px;
  background-color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s;
}

.uname button:hover{
  background-color: yellow;
}

